.heroBanner {
  padding: 6rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.features {
  display: flex;
  align-items: stretch;
  padding: 4rem 0;
  width: 100%;
}

.features .row {
  gap: 1.5rem;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 4rem 2rem;
  }

  .buttons {
    flex-direction: column;
  }

  .buttons .button {
    margin-left: 0 !important;
    margin-top: 0.5rem;
  }
}
